.car-card {
    display: flex;
    flex-flow: column;
    width: 10%;
    border-radius: 6px;
    border: 1px solid black;
    margin: 8px 0px;
    background-color: aquamarine;
    color: red;
    font-size: 20px;
}